@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav {
	width: 100%;
	height: 70px;
	background-color: #A1C133;
}



header {
	width: 100%;
	height: 600px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}



#promo {
	width: 100%;
	height: 400px;
	background-image: url(../img/bg_bienvenida.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#contenidos {
	width: 100%;
	height: 600px;
	background-image: url(../img/fondoEspecialidades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#mapa {
	width: 100%;
	height: 420px;
	background-color: white;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #a1c133;
}

#centrar_nav, #centrar_header, #centrar_promo, #centrar_contenidos, #centrar_mapa, #centrar_footer {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*background-color: aquamarine;*/
	position: relative;
	/*Resetea la posicion a 0,0 permitiendo medir con XD y asi aplicar posición absoluta*/
}

#centrar_nav img {
	margin: 15px 30px 0 15px;
	float: left;
}

#menu {
	list-style: none; 
	padding-top: 25px;
}

#menu li {
	float: left;
	padding-left: 30px;


}

#menu a {
	font-size: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #262626;
	font-weight: 100;
	text-decoration: none;
	letter-spacing: 2px;
}

#menu a:hover{
	color: white;
}

#sociales {
	float: right;
	list-style: none;
}

#sociales li {
	float: left;
	padding-right: 20px;
}

#facebook {
	width: 10px;
	height: 19px;
	background-image: url(../img/sociales/facebookW.svg);
}

#facebook:hover {
	background-image: url(../img/sociales/facebookP.svg);
}

#twitter {
	width: 22px;
	height: 18px;
	background-image: url(../img/sociales/twitterW.svg)
}

#twitter:hover {
	background-image: url(../img/sociales/twitterP.svg);
}

#instagram {
	width: 20px;
	height: 20px;
	background-image: url(../img/sociales/instagramW.svg);
}

#instagram:hover {
	background-image: url(../img/sociales/instagramP.svg);
}

/*#centrar_promo {
	width: 480px;
	height: 165px;
	float: right;
	margin: 115px 140px 120px 750px;
	
}*/

#txtPromo {
	width: 582px;
	height: 177px;
	position: absolute;
	top: 113px;
	left: 612px;
	text-align: right;
}


#txtPromo h2 {
	color:#A1C133;
	font-size: 40px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
	padding-bottom: 40px;
}

#txtPromo h3 {
	color: black;
	font-size: 25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}

#boxMapa {
	width: 720px;
	height: 285px;
	background-color: #A1C133;
	position: absolute;
	top: 112px;
	left: 236px;
}

#ubicacion {
	margin: -80px 0 0 22px;
	box-shadow: 0 5px 7px rgba(0,0,0,0.5);
}


/* FOOTER */


footer {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.footerA {
	width: 174px;
	height: 110px;
	float: left;
	margin:56px 0 0 20px;
}


.footerB {
	width: 276px;
	height: 110px;
	float: left;
	margin:56px 0 0 20px;
}


#menuFooter a, #menuSociales a{
	font-weight: 100;
	text-decoration: none;
	color: white;
}

#menuFooter a:hover, #menuSociales a:hover{
	color: #EB8FAC;
}



#menuFooter li, #menuSociales li {
	list-style: none;
	padding-bottom: 10px;
}


.footerA:nth-child(3) img{
	padding-right: 10px;
}

#footerFacebook {
	width: 7px;
	height: 14px;
	padding-right: 18px;
}

#footerTwitter {
	width: 14px;
	height: 11px;
}

#footerInstagram {
	width: 14px;
	height: 14px;
}

h5, h6 {
	font-weight: 100;
	font-size: 14px;
	padding-bottom: 10px;
}

.footerB input {
	width: 210px;
	height: 30px;
	border-radius: 5px 0 0 5px;
	border: solid 1px white;
	background-color: transparent;
	color: white;
	padding-left: 10px;
}


/* Estiliza el placeholder en varios navegadores*/

::-webkit-input-placeholder {color: white; font-weight: 100;}
::-moz-input-placeholder {color: white; font-weight: 100;}
::-ms-input-placeholder {color: white; font-weight: 100;}
input-placeholder {color: white; font-weight: 100;}


.footerB button {
	width: 50px;
	height: 32px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	color: #2699FB;
	cursor: pointer;
}

.footerB button:hover {
	color: white;
	background-color: #EB8FAC;
}



