@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav {
	width: 100%;
	height: 70px;
	background-color: #A1C133;
}



header {
	width: 100%;
	height: 600px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}



#promo {
	width: 100%;
	height: 400px;
	background-image: url(../img/bg_bienvenida.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#contenidos {
	width: 100%;
	height: 600px;
	background-image: url(../img/fondoEspecialidades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#mapa {
	width: 100%;
	height: 420px;
	background-color: white;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #a1c133;
}

#centrar_nav, #centrar_header, #centrar_promo, #centrar_contenidos, #centrar_mapa, #centrar_footer {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*background-color: aquamarine;*/
	position: relative;
	/*Resetea la posicion a 0,0 permitiendo medir con XD y asi aplicar posición absoluta*/
}

#centrar_nav img {
	margin: 15px 30px 0 15px;
	float: left;
}

#menu {
	list-style: none; 
	padding-top: 25px;
}

#menu li {
	float: left;
	padding-left: 30px;


}

#menu a {
	font-size: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #262626;
	font-weight: 100;
	text-decoration: none;
	letter-spacing: 2px;
}

#menu a:hover{
	color: white;
}

#sociales {
	float: right;
	list-style: none;
}

#sociales li {
	float: left;
	padding-right: 20px;
}

#facebook {
	width: 10px;
	height: 19px;
	background-image: url(../img/sociales/facebookW.svg);
}

#facebook:hover {
	background-image: url(../img/sociales/facebookP.svg);
}

#twitter {
	width: 22px;
	height: 18px;
	background-image: url(../img/sociales/twitterW.svg)
}

#twitter:hover {
	background-image: url(../img/sociales/twitterP.svg);
}

#instagram {
	width: 20px;
	height: 20px;
	background-image: url(../img/sociales/instagramW.svg);
}

#instagram:hover {
	background-image: url(../img/sociales/instagramP.svg);
}

#centrar_promo {
	width: 480px;
	height: 165px;
	float: right;
	margin: 115px 140px 120px 750px;
	
}

#centrar_promo h2 {
	color:#A1C133;
	font-size: 40px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
	padding-bottom: 40px;
}

#centrar_promo h3 {
	color: black;
	font-size: 25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}